@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #2e4053;
  color: white;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}
