@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #2e4053;
  color: white;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

.navbar {
  width: 100%;
  font-family: 'Slabo 27px', serif;
  font-size: 115%;
  background-color: #154360;
  top: 0;
  left: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #154360;
  text-align: center;
  width: 100%;
  font-family: 'Slabo 27px', serif;
}

.home {
  background-image: url("./images/homebg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height:100vh;
}

.tvshow {
  width: 250px;
  height: 350px;
}

.s2 {
  margin-left: -50px;
  margin-top: -30px;
  z-index: -100;
}

.content {
  height: 100%;
  width: 80%;
  margin: auto;
  font-family: 'Slabo 27px', serif;
}

.vr {
  background-color: rgba(255, 255, 255, 0.06);
  height: 50%;
  width: 2px;
}

.about {
  background-image: url("./images/homebg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.abtcont {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  width: 60%;
  padding: 2%;
  font-size: 115%;
  border-radius: 5px;
}

.aboutimg {
  width: 90%;
}

.showlist {
  background-image: url("./images/homebg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 6%;
}
.showcont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin:auto;
  padding: 5% 0;
  width: 80%;
  text-align: center;
  grid-gap: 10px;
}

.showitem {
  background-color: white;
  padding: 2% 1%;
  font-family: 'Slabo 27px', serif;
}

.filter {
  width: 50%;
  margin: auto;
}

.showinfo {
  background-image: url("./images/homebg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 6% 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showinfocont {
  width: 70%;
  margin: auto;
  height: 60vh;
  overflow-x: scroll;
}

.showdetails {
  flex: 2;
  padding: 2%;
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 110%;
}
